<img id="loginimage" src="../assets/loginpagelogo.png">
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()" class="formControls">
        
        <div>
            <p>
                <label for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" name="UserName" formControlName="UserName" minlength="3"
                [ngClass]="{'is-invalid': formControls.UserName.touched && formControls.UserName.invalid}">
            </p>
        </div>

        <div *ngIf="isSubmitted && formControls.UserName.errors">
            <div *ngIf="formControls.UserName.errors" style="color: red;text-align:left;">Username is Required</div><br>

        </div>

        <div>
            <p>
                <label for="UserPassword" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" name="UserPassword" formControlName="UserPassword" minlength="3"
                [ngClass]="{'is-invalid': formControls.UserPassword.touched && formControls.UserPassword.invalid}">
            </p>
        </div>

        <div *ngIf="isSubmitted && formControls.UserPassword.errors">
            <div *ngIf="formControls.UserPassword.errors" style="color: red;text-align:left;">Password is Required</div><br>

        </div>

        <div>
            <button type="submit" class="btn btn-primary"><strong>Login</strong></button>&nbsp;&nbsp;
            <a id="homebutton" [routerLink]="['../home']" class="btn btn-dark">
                <strong>Go Back</strong>
               </a>
        </div><br>
        <div *ngIf="error" style="color: red; text-align: left;">{{error}}</div>

    </form>
</div>


